<head>
    <title>Add A New Tokimon into Family</title>
</head>

<body background="3.jpg">
    <header style="color:pink;font-size:29px;">Please enter Tokimon's information</header>
    <ul style="text-align: center;list-style-position: inside;">

        <form class="" action="/Add_New" method="post">

            <li style="color:rgb(70, 67, 67);font-size:20px;">Tokimon Name:</li>
            <li><input type="text" name="tokimon_name" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Weight:</li>
            <li><input type="text" name="weight" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Height:</li>
            <li><input type="text" name="height" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Trainer:</li>
            <li><input type="text" name="trainer" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Fly:</li>
            <li><input type="text" name="fly" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Fight:</li>
            <li><input type="text" name="fight" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Fire:</li>
            <li><input type="text" name="fire" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Water:</li>
            <li><input type="text" name="water" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Electrify:</li>
            <li><input type="text" name="electrify" /></li>
            <li style="color:rgb(70, 67, 67);font-size:20px;">Freeze:</li>
            <li><input type="text" name="freeze" /></li>
            <br/>
            <button>Submit</button>
            <a href="/" style="color:GREEN;font-size:20px;">HOME</a>
        </form>
    </ul>

</body>