<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <link href="Tokimon_family.css" rel="stylesheet" type="text/css">
    <title>Tokimon Family Page</title>
</head>

<body background="1.png">
    <header style="color:white;font-size:29px;font-weight: bold;background: yellowgreen;">Welcome to Tokimon Family Data System</header>
    <nav>
        <ul>
            <li><a href="/Add_New">Add New Tokimon</a></li>
            <li><a href="/Change_Attribute">Change Attribute</a></li>
            <li><a href="/Delete">Delete A Tokimon</a></li>
            <li><a href="/Display_one">Display A Tokimon</a></li>
            <li><a href="/Display_All">Display All Tokimon</a></li>
        </ul>
    </nav>

</body>